.header-name h1 {
  color: #483d8b;
  font-family: "Arial";
  font-weight: bold;
}

h1 a {
  color: #556b2f;
}

.page-header {
  /* display: flex; */
  background-color: #556b2f;
  margin-top: 0;
  padding: 2px 2px 20px 2px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
  color: #ffffff;
  font-size: 36pt;
  text-decoration: none;
  margin-left: 20px;
}

.content {
  margin-left: 40px;
}

.obj h1 {
  color: #483d8b;
  font-family: "Arial";
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
  font-family: "Georgia", cursive;
}

.date {
  color: #828282;
}

.save {
  float: left;
}

.post-form textarea,
.post-form input {
  width: 100%;
}

.page {
  color: lightblue;
  float: left;
  font-size: 20pt;
  /* margin: 30px 30px 20px 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px; */
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
  color: #ffc0cb;
  float: right;
  font-size: 26pt;
  margin-right: 20px;
  margin-top: 30px;
}

.post {
  margin-bottom: 70px;
}

.post h1 a,
.post h1 a:visited {
  color: #483d8b;
}

.obj {
  display: flex;
  flex-direction: column;
}
/* .btn-default {
  display: flex;
} */
.pencil {
  margin-right: auto;
}
.trash {
  margin-left: auto;
}
.glyphicon-trash {
  color: red;
  /* border-left: 30px; */
}

.glyphicon-pencil {
  color: blue;
  /* float: left; */
  /* margin-right: auto; */
}

/* .page-menu {
  margin-left: 100px;
  margin-top: 30px;
} */

th {
  border: 1px solid grey;
}

td {
  border: 1px solid grey;
  border-bottom: 1px solid grey;
}

th,
td {
  border: 1px solid grey;
}

table {
  border-collapse: collapse;
  border: 3px solid grey;
  border-top: 3px solid grey;
}
